<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
</head>


<body>
<h2>HELLO TO HOMEPAGE!</h2>

<a href="registration" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;To registration</a>
<a href="login" class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;To sign in</a>

</body>
</html>