<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Registration page</title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" type="text/css"
          href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
      -->
</head>

<body>
<div class="main">
    <h2>...you will login with that form...</h2>
    <td th:text="${message}"></td>
    <h1>Please, enter your details:</h1>
    <div class="table">
        <form action="#" th:action="@{/login-done}" th:object="${signUser}" method="post">

            <input type="hidden" th:field="*{userName}" value="noname"
                                                  id="name"
                                                  placeholder="Name"/>
            <br><br>
            <label for="email">Email</label> <input type="text" th:field="*{email}"
                                                    id="email"
                                                    placeholder="Email"/>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            <br><br>
            <label for="pass">Password</label> <input type="text" th:field="*{pass}"
                                                      id="pass"
                                                      placeholder="Password"/>
            <span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" class="text-danger"></span>
            <br><br>


            <button>Submit >></button>

        </form>
    </div>
</div>
</body>
</html>