<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login page</title>
</head>


<body>

<div class="registration_form">
    <h2>Welcome to registration page...</h2>
    <div class="table">
        <form action="#" th:action="@{/registration-done}" th:object="${user}" method="post">

                <label for="name">Name</label> <input type="text" th:field="*{userName}"
                                                                             id="name"
                                                                             placeholder="Name"/>
                <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="text-danger"></span>
            <br><br>
                <label for="email">Email</label> <input type="text" th:field="*{email}"
                                                      id="email"
                                                      placeholder="Email"/>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
            <br><br>
                <label for="pass">Password</label> <input type="text" th:field="*{pass}"
                                                      id="pass"
                                                      placeholder="Password"/>
                <span th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}" class="text-danger"></span>
            <br><br>


                <button>Submit >></button>
            </form>
        </div>
    </div>

    </body>
    </html>