<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Registration page</title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" type="text/css"
          href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
      -->
</head>

<body>
<div class="main">
    <h2>Welcome to registration page...</h2>
    <h1>Please, enter your details:</h1>
    <div class="table">
        <form action="#" th:action="@{}" th:object="${}" method="post">

            <label for="name">Enter your email:</label><br>
            <input type="name" th:field="*{name}" id="name"><br>

            <label for="email">Enter your email:</label><br>
            <input type="email" th:field="*{email}" id="email"><br>

            <label for="pass">Enter your password:</label><br>
            <input type="password" th:field="*{password}" id="pass"><br>

            <input type="submit" name="submit">
        </form>
    </div>
</div>
</body>
</html>